{% extends 'blogpost/base.html' %}
{% load static %}

{% block content %}

<body>
  <main class="mb-auto">
    <div class="card">
        <div class="card text-white bg-success mb-3">
        <div class="card-header">
            ブログ作成
        </div>
        </div>
        <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <h5 class="card-title">{{ form.as_p }}</h5>
            <input class="btn btn-primary" type="submit" value="作成する">
        </form>
        </div>
    </div>
  </main>

  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'list' %}" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="{% url 'create' %}" class="nav-link px-2 text-body-secondary">Create</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
  </footer>
</body>

{% endblock content %}